body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #016f32;
    font-size: 40px;
    color: aliceblue;
    text-align: center;
    font-weight: bold;
    
}
h1{
    color: goldenrod;
}
#massage-el{
    font-style: italic;
}
button{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #016f32;
    border-color: goldenrod;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
    height: 50px;
    width: 150px;
  

   
    
}
#start-btn{
    background: linear-gradient(goldenrod,yellow);
}
#newcard-btn{
    background: linear-gradient(goldenrod,yellow);

}